body {
    font-family: Arial, sans-serif;
    background: #595454;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: linear-gradient(to bottom, #e0a99d, #89e0f0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
}

h1 {
    text-transform: unset; 
    font-size: 2em; 
    color: #23210d; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.2)); 
    padding: 20px; 
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.result, .myimages {
    margin: 5px 0;
}

.myimages {
    display: flex;
    justify-content: center;
}
.myimages img{
    max-width: 100px;
    max-height: 100px;
}
@media only screen and (max-width: 600px) {
    .container {
        max-width: 80%;
    }

    input {
        width: 100%;
    }
}

